body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	background-size: 100%;
	background-position: bottom;
	background-color: hsla(356, 82%, 77%, 0.479);
	/* background: rgba(109, 98, 107, 0.25); */
	min-height: 100%;
}

.card.row {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	flex-flow: row wrap;
	overflow: hidden;
}
.Large.material-icons {
	font-size: 40px;
	margin-top: 0.5rem;
}
html {
	min-height: 100%;
}
form {
	padding: 20px;
	margin-top: 60px;
}
form button,
form h5 {
	margin: 20px 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: purple;
	box-shadow: none;
}
